* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

pre,
code,
kbd,
samp,
tt,
var {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 28px;
  line-height: 42px;
}

h2 {
  font-size: 21px;
  line-height: 35px;
}

h3 {
  font-size: 18.2px;
}

h2#about-border {
  background: #ff394c;
  padding: 20px 0 20px 30px;
  color: #fff;
  text-transform: uppercase;
}

h2#portfolio-border {
  background-image: -moz-linear-gradient(left, #ff9200 20%, #ff394c 100%);
  background-image: -webkit-linear-gradient(left, #ff9200 20%, #ff394c 100%);
  background-image: linear, left, #ff9200 20%, #ff394c 100%;
  padding: 20px 0 20px 30px;
  color: #fff;
  text-transform: uppercase;
}

h2#contact-border {
  background-image: -moz-linear-gradient(left, #ff9200 20%, #ff394c 100%);
  background-image: -webkit-linear-gradient(left, #ff394c 20%, #ff9200 100%);
  background-image: linear, left, #ff9200 20%, #ff394c 100%;
  padding: 20px 0 20px 30px;
  color: #fff;
  text-transform: uppercase;
}

pre {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #c5c5c5;
}

#header {
  padding: 15px 0 15px 0;
}
#header .wrapper {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#header .wrapper:before, #header .wrapper:after {
  content: " ";
  display: table;
}
#header .wrapper:after {
  clear: both;
}
#header .wrapper #logo {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 25.29%;
  font-size: 24px;
  line-height: 20px;
  color: #ff394c;
}
#header .wrapper #logo:last-child {
  margin-right: 0;
}
@media screen and (max-width: 580px) {
  #header .wrapper #logo {
    display: block;
    float: left;
    margin-right: 1.87727%;
    width: 66.04091%;
  }
  #header .wrapper #logo:last-child {
    margin-right: 0;
  }
}
#header .wrapper #menu {
  float: right;
}
#header .wrapper #menu li {
  display: block;
  float: left;
  margin-right: 6px;
  color: #c5c5c5;
  text-align: center;
}
#header .wrapper #menu li.active {
  color: #ff7800;
}

#footer {
  background: #ff7800;
}
#footer .social-box {
  text-align: center;
  padding: 10px 0 10px 0;
}
#footer .social-box .social-media {
  display: inline-block;
  list-style: none;
  overflow: hidden;
}
#footer .social-box .social-media li {
  float: left;
  margin-right: 15px;
}
#footer .social-box .social-media li.twitter a {
  background: url("../img/graphics/icons/twitter-white.png") 1px no-repeat;
  height: 32px;
  width: 32px;
  display: block;
}
#footer .social-box .social-media li.instagram a {
  background: url("../img/graphics/icons/instagram-white.png") 1px no-repeat;
  height: 32px;
  width: 32px;
  display: block;
}
#footer .social-box .social-media li.mail a {
  background: url("../img/graphics/icons/mail-white.png") 1px no-repeat;
  height: 32px;
  width: 32px;
  display: block;
}

#front {
  padding: 40px 0 40px 0;
  background-image: -moz-linear-gradient(left, #ff9200 20%, #ff394c 100%);
  background-image: -webkit-linear-gradient(left, #ff9200 20%, #ff394c 100%);
  background-image: linear, left, #ff9200 20%, #ff394c 100%;
}
#front .front {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 600px;
}
#front .front:before, #front .front:after {
  content: " ";
  display: table;
}
#front .front:after {
  clear: both;
}
@media screen and (max-width: 580px) {
  #front .front {
    height: 300px;
  }
}
#front .front .headline {
  position: absolute;
  top: 30%;
  width: 100%;
}
@media screen and (max-width: 400px) {
  #front .front .headline {
    top: 10%;
  }
}
#front .front h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 56px;
  line-height: 70px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}
@media screen and (max-width: 580px) {
  #front .front h1 {
    font-size: 35px;
    line-height: 49px;
  }
}
#front .front h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 42px;
  line-height: 56px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}
@media screen and (max-width: 580px) {
  #front .front h2 {
    font-size: 28px;
    line-height: 28px;
  }
}
#front .front div {
  text-align: center;
}
#front .front div .social-media {
  display: inline-block;
  list-style: none;
  overflow: hidden;
}
#front .front div .social-media li {
  float: left;
  margin-right: 10px;
}
#front .front div .social-media li.twitter a {
  background: url("../img/graphics/icons/twitter-white.png") 1px no-repeat;
  height: 32px;
  width: 32px;
  display: block;
}
#front .front div .social-media li.instagram a {
  background: url("../img/graphics/icons/instagram-white.png") 1px no-repeat;
  height: 32px;
  width: 32px;
  display: block;
}
#front .front div .social-media li.mail a {
  background: url("../img/graphics/icons/mail-white.png") 1px no-repeat;
  height: 32px;
  width: 32px;
  display: block;
}

#about h2.latest {
  color: #ff394c;
}
#about article.about {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 30px 0;
  margin-right: 1.8%;
  margin-left: 1.8%;
}
#about article.about:before, #about article.about:after {
  content: " ";
  display: table;
}
#about article.about:after {
  clear: both;
}
#about article.about div.img {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 18.49818%;
}
#about article.about div.img:last-child {
  margin-right: 0;
}
#about article.about div.img img.profile {
  width: 100%;
  height: auto;
}
#about article.about .text {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 32.08182%;
  clear: right;
  float: right;
}
#about article.about .text:last-child {
  margin-right: 0;
}
@media screen and (max-width: 580px) {
  #about article.about .text {
    display: block;
    float: left;
    margin-right: 1.87727%;
    width: 100%;
    margin: 10px 0 10px 0;
  }
  #about article.about .text:last-child {
    margin-right: 0;
  }
}
#about article.about .text-block {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 100%;
  padding-top: 20px;
}
#about article.about .text-block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 580px) {
  #about article.about .text-block {
    padding-top: 0;
  }
}
#about article.about .text-block .text {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 32.08182%;
}
#about article.about .text-block .text:last-child {
  margin-right: 0;
}
@media screen and (max-width: 580px) {
  #about article.about .text-block .text {
    display: block;
    float: left;
    margin-right: 1.87727%;
    width: 100%;
  }
  #about article.about .text-block .text:last-child {
    margin-right: 0;
  }
}

#projects .project {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 30px 0;
  margin-left: 1.8%;
  margin-right: 1.8%;
}
#projects .project:before, #projects .project:after {
  content: " ";
  display: table;
}
#projects .project:after {
  clear: both;
}
#projects .project figure.img {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 32.08182%;
}
#projects .project figure.img:last-child {
  margin-right: 0;
}
@media screen and (max-width: 400px) {
  #projects .project figure.img {
    display: block;
    float: left;
    margin-right: 1.87727%;
    width: 100%;
  }
  #projects .project figure.img:last-child {
    margin-right: 0;
  }
}
#projects .project figure.img img {
  width: 100%;
  height: auto;
}
#projects .project div {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 45.66546%;
}
#projects .project div:last-child {
  margin-right: 0;
}
@media screen and (max-width: 400px) {
  #projects .project div {
    display: block;
    float: left;
    margin-right: 1.87727%;
    width: 100%;
  }
  #projects .project div:last-child {
    margin-right: 0;
  }
}

#contact .contact {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 30px 0;
  margin-left: 1.8%;
  margin-right: 1.8%;
}
#contact .contact:before, #contact .contact:after {
  content: " ";
  display: table;
}
#contact .contact:after {
  clear: both;
}
#contact .contact h1 {
  text-align: center;
  color: #ff394c;
}
#contact .contact p {
  text-align: center;
  color: #ff394c;
  font-size: 18px;
  line-height: 24px;
}
#contact .contact h2 {
  text-align: center;
  color: #ff394c;
}
#contact .contact .meetup {
  display: block;
  float: left;
  margin-right: 1.87727%;
  width: 32.08182%;
  text-align: center;
  padding: 30px 0 30px 0;
  cursor: pointer;
}
#contact .contact .meetup:last-child {
  margin-right: 0;
}
