
$grid-columns: 15;
$column: 60px;
$gutter: 20px;
$max-width: 1200px;

$base-font-size: 14px;
$line-height: $base-font-size * 1.5;

//breakpoints
$mobile: new-breakpoint(max-width 400px);
$tablet: new-breakpoint(max-width 580px);

//colors
$base-font-color: #c5c5c5;
$orange: #ff7800;
$pink: #ff394c;
$dark-orange: #d96600;
$dark-grey: #484848;
$extrene-grey: #333333;
$light-orange:#ff9200;
$light-blue: #00eef9;
$blue: #00c2f9;
$neon-green: #d0f900;
$green: #32ff4e;

$border-padding: 20px 0 20px 30px;