#front {
  padding: 40px 0 40px 0;
  background-image: -moz-linear-gradient(left, $light-orange 20%, $pink 100%);
  background-image: -webkit-linear-gradient(left, $light-orange 20%, $pink 100%);
  background-image: linear-gradient(left, $light-orange 20%, $pink 100%);

  .front {
    @include outer-container();
    position: relative;
    height: 600px;

    @include media($tablet) {
      height: 300px;
    }

    .headline {
      position: absolute;
      top: 30%;
      width: 100%;

      @include media($mobile) {
        top: 10%;
      }
    }

    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: $base-font-size * 4;
      line-height: $base-font-size * 5;
      color: #fff;
      background: rgba(0,0,0,0.3);
      margin-bottom: 8px;

      @include media($tablet) {
        font-size: $base-font-size * 2.5;
        line-height: $base-font-size * 3.5;
      }
    }

    h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: $base-font-size * 3;
      line-height: $base-font-size * 4;
      color: #fff;
      background: rgba(0,0,0,0.3);
      margin-bottom: 8px;

      @include media($tablet) {
        font-size: $base-font-size * 2;
        line-height: $base-font-size * 2;
      }
    }

    div {
      text-align: center;

      .social-media {
        display: inline-block;
        list-style:none;
        overflow: hidden;

        li {
          float: left;
          margin-right: 10px;

          &.twitter {
            a {
              background: url("../img/graphics/icons/twitter-white.png") 1px no-repeat;
              height: 32px;
              width: 32px;
              display: block;
            }

          }
          &.instagram {
            a {
              background: url("../img/graphics/icons/instagram-white.png") 1px no-repeat;
              height: 32px;
              width: 32px;
              display: block;
            }

          }
          &.mail {
            a {
              background: url("../img/graphics/icons/mail-white.png") 1px no-repeat;
              height: 32px;
              width: 32px;
              display: block;
            }
          }
        }
      }
    }
  }
}