#portfolio {
  background: $dark-grey;

  article.portfolio {
    @include outer-container();
    padding: 30px 0 30px 0;

    .slider {

      div {
        @include span-columns(3 of 15);
        padding: 30px 0 30px 0;
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

        &.active {
          filter: none; /* IE6-9 */
          -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}